.pokemon-busca-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(90deg, #43E97B 0%, #38F9D7 100%);
  width: 100vw;
  height: 100vh;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 0px;
  }
}

.infoPokemon{
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: $color-neutral-200;
  border-radius: 24px 24px 0px 0px;
  width: 100%;
  margin-top: calc(-24.7rem / 2);
  padding: 16.2rem 2.4rem;

  h1 {
    text-transform: uppercase;
    margin-bottom: 3.6rem;
  }

  &.infoPokemon--capture, &.infoPokemon--liberar{
    height: 100%;
  }

  > button {
    position: fixed;
    bottom: 5rem;
  }

  > .tipos {
    margin-top: 4.2rem;
    width: 100%;
    border-top: 1px solid $color-neutral-500;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    > .typSubtitle{
      text-transform: uppercase;
      background: $color-neutral-200;
      margin-top: -2rem;
      display: flex;
      padding: 0.5rem;
    }
  }

  > .habilidades {
    display: flex;
    width: 100%;
    border-top: 1px solid $color-neutral-500;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5.4rem;

    > .typSubtitle{
      text-transform: uppercase;
      background: $color-neutral-200;
      margin-top: -2rem;
      display: flex;
      padding: 0.5rem;
    }

    > .typLabel{
      margin-top: 3rem;
    }
  }

  >.estatisticas{
    display: flex;
    width: 100%;
    border-top: 1px solid $color-neutral-500;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 6.2rem;

    > .typSubtitle{
      text-transform: uppercase;
      background: $color-neutral-200;
      margin-top: -2rem;
      display: flex;
      padding: 0.5rem;
    }

    > .estatisticas__item{
      display: flex;
      width: 100%;
      justify-content: space-between;
      >.typLabel {
        display: flex;
        justify-content: center;
        align-items: center;

        > img {
          width: 1.5rem;
          height: 1.5rem;
          margin-right: 0.5rem;
        }
      }
    }

  }
}
.dadosBasicos{
  display: flex;
  width: 100%;

  > .dadosBasicos__dadosIniciais {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1
  }

  > .dadosBasicos__dadosIniciais + .dadosBasicos__dadosIniciais {
    border-left: 1px solid $color-neutral-500;
  }
}


@media (min-width: 720px){
  .pokemon-busca-container {
    width: 360px;
    height: 559px;
  }
  .infoPokemon{
    height: auto;

    &.infoPokemon--capture, &.infoPokemon--liberar{
      height: auto;
    }

    > .tipos {
      > .typSubtitle{
        margin-top: -1.6rem;
      }
    }

    > .habilidades {
      > .typSubtitle{
        margin-top: -1.6rem;
      }
    }
  }

}
